body {
    font-family: Helvetica, FreeSans, Arial, sans-serif;
    font-size: 10px;
    background-color: #292121; /*565646*/
}

#stats {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #fff;
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 200px;
    height: 80px;
    border: solid 1px black;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-size:14px; 
    overflow-x: hidden;        
}

.statsText{
    color: #FFF27F;
}

#sampleMods {
    position: absolute;
    right: 10px;
    top: 5px;  
    margin-top: 108px;      
    font-family: 'Titillium Web', sans-serif;
    font-size:14px;   
    color:white;      
}


#anims {
    position: absolute;
    right: 10px;
    top: 5px;  
    margin-top: 200px;      
    font-family: 'Titillium Web', sans-serif;
    font-size:14px;   
    color:white;      
    display: none;
}

.animBtn{
    box-shadow:inset 0px 1px 0px 0px #030100;
    background-color:#2c3e50;
    border-radius:3px;
    border:1px solid #ffffff;
    font-family: 'Titillium Web', sans-serif; 
    cursor:pointer;
    color:#ffffff;
    font-size:13px;
    padding: 8px;
    margin-right: 10px;
}

#stop{
    background-color: #e23636;
}

/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
}

.select {
    position: relative;
    display: block;
    width: 15.7em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
  }

 select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

  /* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #34495e;
    pointer-events: none;
}

/* Transition */
.select:hover::after {
    color: #FFF27F;
}
.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
  
#collapse_side {
    position: absolute;
    left: 20%;
    top: 5px;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    padding: 3px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 30px;      
}

#collapse_btm {
    position: absolute;
    left: 20%;
    top: 73%;        
    color: #fff;
    background: rgba(0, 0, 0, 0);
    padding: 3px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 30px;      
}
      
#fullscreen {
    position: absolute;
    right: 6px;
    top: 73%;          
}

button:focus {
    outline:none; /*Remove blue border when clicking buttons*/
}
button:hover{
    cursor:pointer;
}

#container{
    display: block;
    margin: 0 auto;  
    float: right;  
}

#red, #green, #blue, #ambient_red, #ambient_green, #ambient_blue, #shine, #point_light, #edgeStrength{
    width:98%;      
    margin-top:4px;
    font-size: 7.5px;
}

#rot_slider{
    width:100%;    
    float:right;
    font-size: 7.5px;
}

#shine .ui-slider-handle, #point_light .ui-slider-handle,
#edgeStrength .ui-slider-handle  { font-size: 10px; border-radius: 34px; outline: none; }

#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929;  border-radius: 34px; outline: none;}

#ambient_red .ui-slider-range { background: #ef2929; }
#ambient_red .ui-slider-handle { border-color: #ef2929;  border-radius: 34px; outline: none;}

#green .ui-slider-range { background: #8ae234;}
#green .ui-slider-handle { border-color: #8ae234; border-radius: 34px; outline: none; }

#ambient_green .ui-slider-range { background: #8ae234;}
#ambient_green .ui-slider-handle{
    border-color: #8ae234;
    border-radius: 34px;
    outline: none;
}

#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; border-radius: 34px; outline: none; }

#ambient_blue .ui-slider-range { background: #729fcf; }
#ambient_blue .ui-slider-handle { border-color: #729fcf; border-radius: 34px; outline: none; }

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
}

.switch.helper {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 24px;
    margin-left:10px;
}

.switch input {
	display:none;
} 

.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.grid:before {
    height: 16px;
    width: 16px;
}

.toggle:after {
    content:'OFF';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 70%;
    font-size: 12px;
    font-family: Verdana, sans-serif;
}

input:checked + .toggle:after {  
    content:'ON';
    left: 30%;
}
           
input:checked + .toggle {
    background-color: #2ab934;
}

input:focus + .toggle {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .toggle:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
}

input:checked + .grid:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}


.side_menu{
    width: 19%;
    height: 99.1%;
    position: absolute;
    border: 3px groove #e5e5e5;            
    background-color: #494a4c;
    bottom: 0;
    top: 0;
    left: 0;
    overflow: auto;
    overflow-x: hidden;
}
	
.menu_item{
    width: 100%;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    list-style: none;
    font-family: 'Titillium Web', sans-serif; 
    font-size:15px;
}

.menu_item li#header{
    color: #fff; background-color:#3d5c5c; 
    padding:4px 12px; border: 3px double #bbb; 
    text-align:center;
}

#lightSkin, #darkSkin{
    color: #fff;
    background-color:#3d5c5c;  
    outline:none;  border-style: ridge; 
}
#lightSkin:hover, #darkSkin:hover{
    background: #494a4c; text-decoration:none;
}

.menu_item li.dropdown{
    color: #fff; padding:4px 12px; border: 3px solid #bbb;
}

.menu_item li, .bottom_menu_item li { 
    border-top:0; margin: 0; background:#1d1e1e;  margin-top: 8px; 
}
.menu_item li a, .bottom_menu_item li a{
    text-decoration:none; color:#fff; display:inline-block; padding:8px 12px; width:93%;
}
.menu_item li a:hover, .bottom_menu_item li a:hover{
    background: #494a4c; text-decoration:none;
}
.menu_item li ul, .bottom_menu_item li ul{ 
    list-style: none;  display: none; margin:0;padding:0; 
}

.menu_item li ul li, .bottom_menu_item li ul li{ 
    background:#1d1e1e; margin:0; border:0;
}

.image{
    float: left; 
    padding-right: 25px;
}

#bottom_menu{
    width: 80%;
    height: 20%;
    font-size: 15px;
    color: #fff;
    position: absolute;
    border: 3px groove #e5e5e5;            
    background-color: #494a4c;
    bottom: 0;              
    left: 19.5%;
    overflow: auto;            
}

.bottom_menu_item{
    width: 100%;
    margin: 0;
    margin-top: 0.5px;
    padding: 0;
    list-style: none;
    font-family: 'Titillium Web', sans-serif; 
    font-size:15px;
}


.bottom_menu_item li.dropdown{
    color: #fff; padding:4px 12px; border: 3px solid #bbb;
    display: inline-block;
    float:left;
    width: 30%;
}

.resetRotateButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #030100;
    -webkit-box-shadow:inset 0px 1px 0px 0px #030100;
    box-shadow:inset 0px 1px 0px 0px #030100;
    background-color:#28ad57;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #ffffff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #9e5351;
    margin-right: 5px;
}

.radioBtn{
     display:inline-block;   
     margin-right: 11px;
     background-color:#28ad57;
     padding:6px;
     border: 2px solid #ffffff;
}

.resetRotateButton {
    background-color: #DD3D0C;
    margin-top: 5px;
    width: 97%;
    font-size:15px;
}

.resetRotateButton:hover {
    background-color: #B43008;
}

#transformKey {
    display: none; 
    margin-left:25px; 
    font-size: 15px
}

#scale_up, #scale_down{
    background-color: #000099;
    border-radius: 7px;
    text-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    padding: 4px 12px 4px 12px;
    border: solid #000033 4px;
    text-decoration: none;
}

#scale_up:hover, #scale_down:hover{
    background-color: #4d4dff;
}

#obj_file, #modelPlusTexture{
    display: none;
}
.model-upload, #remove {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer; 
    color: #fff;
    background: #4B5F83;
}

.model-upload:hover{
     background: #009999;
}

 #remove {
    padding: 9px 12.5px;
    font-size: 14px;
    background: #b90a0a;
}
 #remove:hover{
     background: #e23636;
 }

.qBtn{ 
    background: #1d1e1e;
    border: none;
    outline: none;
    margin-left: 16px;
}

.q_mark{
    background-color: #fff;
    border-radius: 50%;
    color: #76bdd5;
    font-size: 25px;
    height: 17px;
    line-height: 17px;
    width: 19px;
}

.ui-dialog-title{
    font-size: 20px;
}
